<ion-header>
  <ion-navbar>
    <ion-title>{{ media?.title }}<span *ngIf="media === null">{{ 'MISSING_MEDIA_TITLE' | translate }}</span></ion-title>
    <ion-buttons end>
      <button ion-button icon-right (click)="openLanguagePopover($event)">
        {{ 'LANGUAGE_BUTTON' | translate }} <ion-icon name="cog"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <p *ngIf="media === null">{{ 'MISSING_MEDIA_TEXT' | translate }}</p>
  <div *ngIf="media">
    <div id="media-photo" [ngStyle]="{ 'background-image': 'url(' + media?.imagePath + ')'}"></div>
    <div id="media-details">
      <ion-grid id="media-detail-info">
        <ion-row>
          <ion-col col-4>
            <p text-capitalize>
              <ion-icon name="{{ media?.icon }}"></ion-icon> {{ media?.mediaTypeTranslationKey | translate }}
            </p>
          </ion-col>
          <ion-col col-4>
            <p class="categories" text-center>
              <ion-icon name="list"></ion-icon>
              <span class="emphasize">{{ 'CATEGORIES_TITLE' | translate }}:</span> {{ media?.categoryList }}
            </p>
          </ion-col>
          <ion-col col-4 text-right>
            <p>
              <span *ngIf="media?.recommended">
                <ion-icon name="star"></ion-icon> {{ 'RECOMMENDED_TEXT' | translate }}
              </span>
            </p>
          </ion-col>
        </ion-row>
      </ion-grid>
      <h1>{{ media?.title }}</h1>
      <p>{{ media?.desc }}</p>
      <div id="single-media-actions" *ngIf="media?.episodes.length === 0">
        <ion-buttons end>
          <button ion-button clear icon-only (click)="downloadFile(media?.downloadPath, media?.mediaType, media?.slug)">
            <ion-icon name="download" color="primary"></ion-icon>
          </button>
          <button ion-button clear icon-only (click)="playMedia()" [hidden]="!hasViewer(media?.mediaType)">
            <ion-icon [name]="playIcon(media?.mediaType)" color="primary"></ion-icon>
          </button>
        </ion-buttons>
      </div>
    </div>
    <div id="media-episodes" *ngIf="media?.episodes.length > 0">
      <ion-list>
        <ion-list-header>{{ 'EPISODES_TEXT' | translate }}</ion-list-header>
        <ion-item *ngFor="let episode of media?.episodes" text-wrap>
          <ion-thumbnail item-start>
            <img src="{{ episode.imagePath }}" alt="{{ episode.title }}">
          </ion-thumbnail>
          <h2>{{ episode.title }}</h2>
          <p>{{ episode.desc }}</p>
          <ion-grid>
            <ion-row>
              <ion-col col-6 class="episode-media-type-wrap">
                <p class="media-type" text-capitalize>
                  <ion-icon name="{{ episode?.icon }}"></ion-icon> {{ episode?.mediaTypeTranslationKey | translate }}
                </p>
              </ion-col>
              <ion-col col-6>
                <ion-buttons end>
                  <button ion-button clear icon-only (click)="downloadFile(episode?.downloadPath, episode?.mediaType, episode?.slug)">
                    <ion-icon name="download" color="primary"></ion-icon>
                  </button>
                  <button ion-button clear icon-only (click)="playEpisode(episode)" [hidden]="!hasViewer(episode?.mediaType, true)">
                    <ion-icon [name]="playIcon(episode?.mediaType)" color="primary"></ion-icon>
                  </button>
                </ion-buttons>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
      </ion-list>
    </div>
  </div>
  <!-- A special link for downloading files -->
  <a #downloadLink class="hidden"></a>
  <app-footer></app-footer>
</ion-content>
