<ion-header>
  <ion-navbar>
    <ion-title>{{ media?.title }}<span *ngIf="media === null">Media is missing!</span></ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <p *ngIf="media === null">Something went wrong! The media is missing!</p>
  <div *ngIf="media">
    <div id="media-photo" [ngStyle]="{ 'background-image': 'url(' + media?.imagePath + ')'}"></div>
    <div id="media-details">
      <ion-grid id="media-detail-info">
        <ion-row>
          <ion-col col-4>
            <p class="text-capitalize">
              <ion-icon name="{{ media?.icon }}"></ion-icon> {{ media?.mediaType }}
            </p>
          </ion-col>
          <ion-col col-4>
            <p class="categories" text-center>
              <ion-icon name="list"></ion-icon>
              <span class="emphasize">Categories:</span> {{ media?.categoryList }}
            </p>
          </ion-col>
          <ion-col col-4 text-right>
            <p>
              <span *ngIf="media?.recommended">
                <ion-icon name="star"></ion-icon> Recommended
              </span>
            </p>
          </ion-col>
        </ion-row>
      </ion-grid>
      <h1>{{ media?.title }}</h1>
      <p>{{ media?.desc }}</p>
    </div>
    <div id="media-episodes" *ngIf="media?.episodes.length > 0">
      <ion-list>
        <ion-list-header>Episodes</ion-list-header>
        <button ion-item *ngFor="let episode of media?.episodes" (click)="playEpisode(episode)">
          <ion-thumbnail item-start>
            <img src="{{ episode.imagePath }}" alt="{{ episode.title }}">
          </ion-thumbnail>
          <h2>{{ episode.title }}</h2>
          <p>{{ episode.desc }}</p>
          <p class="text-capitalize media-type">
            <ion-icon name="{{ episode?.icon }}"></ion-icon> {{ episode?.mediaType }}
          </p>
          <ion-icon name="play" color="primary" item-end></ion-icon>
        </button>
      </ion-list>
    </div>
  </div>
  <ion-fab right bottom *ngIf="media?.episodes.length === 0">
    <button ion-fab color="primary" (click)="playMedia()"><ion-icon name="play"></ion-icon></button>
  </ion-fab>
</ion-content>
