page-media-detail {
    .media-detail-info {
        border-top: 1px solid map-get($colors, secondary);
        margin-bottom: 6px;

        p {
            color: map-get($colors, secondary);
            font-size: .9em;
            margin: 0px;
            padding: 0px;
        }
    }
}
