page-home {
    .category-list {
        min-height: 250px;
        height: auto;

        ion-card {
            max-width: 250px;
            display: inline-block;

            .feature-photo {
                width: 100%;
                height: 150px;

                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }

        .scroll-content {
            padding: 0px !important;

            .scroll-zoom-wrapper {
                white-space: nowrap;
            }
        }

    }
}
