.hidden {
    display: none;
}
.media-type {
    color: map-get($colors, secondary) !important;
    font-size: .8em !important;
    margin: 0px !important;
    padding: 0px !important;
}
.bar-button-default-ios {
    color: #424242 !important;
}
h2 {
    margin-top: .70em !important;
    margin-bottom: .70em !important;
}

[dir="ltr"] .toolbar-md.with-logo, [dir="rtl"] .toolbar-md.with-logo,
[dir="ltr"] .toolbar-ios.with-logo, [dir="rtl"] .toolbar-ios.with-logo {

    .toolbar-content {
        display: flex;
        align-items: center !important;
        justify-content: left !important;

        .logo-wrapper {

            img {
                max-height: 60px;
            }
        }

        ion-title {
            padding-right: 0px !important;
            padding-left: 0px !important;
            text-align: center;
            width: 100% !important;
        }
    }
}

.toolbar-ios ion-title {
    width: auto !important;
}

.toolbar-md, .toolbar-ios {
    min-height: 60px !important;
}
.custom-footer {
    border-top: 2px solid #242424;
    margin-top: 1em;
    padding: 1em;
}
// Displays an icon rather than missing an image in a card.
.card .icon-wrapper {
    font-size: 80px;
    text-align: center;
    display:inline-block;
    vertical-align: middle;
    width: 100%;
    height: 100%;

    ion-icon {
        color: map-get($colors, secondary) !important;
        position:relative;
        top: calc(50% - 40px); /* 50% - 3/4 of icon height */
    }
}
ion-spinner * {
  stroke: map-get($colors, primary) !important;
  &.spinner-dots circle {
      fill: map-get($colors, primary) !important;
  }
}
ion-spinner.spinner-light * {
  stroke: map-get($colors, light) !important;
  &.spinner-dots circle {
      fill: map-get($colors, light) !important;
  }
}
