page-av-player {
    .scroll-content {
        overflow-y: hidden !important;
    }
    #exit-button {
        position: absolute;
        right: 0;
        top: 0;
        z-index: 100;

        .close-btn {
            color: #ffffff;
            font-size: 1.40em;
        }
    }
    #secondary-controls {
        height: 7%;
        max-height: 7%;
        margin: 0 !important;
        padding: 0 !important;
    }
    #audio-player-wrapper {
        height: 93%;
        position: relative;
        margin: 0 !important;
        padding: 0 !important;

        audio {
            height: 7%;
            max-height: 7%;
            width: 100%;
        }

        #audio-poster {
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            height: 93%;
            width: 100%;
        }
    }

    #video-player-wrapper {
        height: 93%;
        position: relative;
        margin: 0 !important;
        padding: 0 !important;

        video {
            height: 100%;
            width: 100%;
        }
    }
}
