<ion-content>
  <video [src]="current?.url" controls [autoplay]="current?.type === 'video'" [poster]="current?.posterUrl" [hidden]="current === null || current?.type !== 'video'" #videoPlayer>
    Sorry, your browser does not support videos.
  </video>
  <div id="audio-player-wrapper" [hidden]="current === null || current?.type !== 'audio'">
    <div id="audio-poster" [ngStyle]="{ 'background-image': 'url(' + current?.posterUrl + ')'}"></div>
    <audio [src]="current?.url" controls [autoplay]="current?.type === 'audio'" #audioPlayer>
      Sorry, your browser does not support videos.
    </audio>
  </div>
  <div id="secondary-controls">
    <ion-grid>
      <ion-row>
        <ion-col col-3 text-center>
          <button icon-only ion-button clear color="primary" (click)="previousEpisode()" [disabled]="isFirstItem()"><ion-icon name="skip-backward"></ion-icon></button>
        </ion-col>
        <ion-col col-3 text-center>
          <button icon-only ion-button clear color="primary" (click)="play()" *ngIf="!isPlaying"><ion-icon name="play"></ion-icon></button>
          <button icon-only ion-button clear color="primary" (click)="pause()" *ngIf="isPlaying"><ion-icon name="pause"></ion-icon></button>
        </ion-col>
        <ion-col col-3 text-center>
          <button icon-only ion-button clear color="primary" (click)="nextEpisode()" [disabled]="isLastItem()"><ion-icon name="skip-forward"></ion-icon></button>
        </ion-col>
        <ion-col col-3 text-center>
          <button icon-only ion-button clear color="primary" (click)="goBack()"><ion-icon name="close"></ion-icon></button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
