<ion-content>
  <div id="media-container" *ngIf="current">
    <div class="overlay" *ngIf="showOverlay"></div>
    <div class="top-controls-container" *ngIf="showOverlay">
      <div class="controls">
        <button icon-only ion-button clear><ion-icon name="expand"></ion-icon></button>
        <p class="title">
          <span class="episode-title">Title of Video</span>
        </p>
        <button icon-only ion-button clear (click)="goBack()"><ion-icon name="close"></ion-icon></button>
      </div>
    </div>

    <div id="video-player-container" [hidden]="current?.type !== 'video'">
      <video [src]="current?.url" [autoplay]="current?.type === 'video'" [poster]="current?.posterUrl" #videoPlayer>
        {{ 'UNSUPPORTED_TEXT' | translate }}
      </video>
    </div>

    <div id="audio-player-container" [hidden]="current?.type !== 'audio'">
      <div id="audio-poster" [ngStyle]="{ 'background-image': 'url(' + current?.posterUrl + ')'}" #audioPoster></div>
      <audio [src]="current?.url" controls [autoplay]="current?.type === 'audio'" #audioPlayer>
        {{ 'UNSUPPORTED_TEXT' | translate }}
      </audio>
    </div>

    <div class="bottom-controls-container" *ngIf="showOverlay">
      <div class="progress-controls">
        <div class="progress-bar" (click)="updateProgress($event)" #progressBar>
          <div class="watched-bar" [ngStyle]="{'width.%': mediaProgress}"></div>
          <div class="playhead"></div>
        </div>
        <div class="time-remaining">
          {{ timeRemaining }}
        </div>
      </div>
      <div class="controls">
        <button icon-only ion-button clear (click)="previousEpisode()" [disabled]="isFirstItem()"><ion-icon name="skip-backward"></ion-icon></button>
        <button class="quick-back">
          <svg viewBox="0 0 24 24">
            <path fill="currentColor" d="M12.5,3C17.15,3 21.08,6.03 22.47,10.22L20.1,11C19.05,7.81 16.04,5.5 12.5,5.5C10.54,5.5 8.77,6.22 7.38,7.38L10,10H3V3L5.6,5.6C7.45,4 9.85,3 12.5,3M10,12V22H8V14H6V12H10M18,14V20C18,21.11 17.11,22 16,22H14A2,2 0 0,1 12,20V14A2,2 0 0,1 14,12H16C17.11,12 18,12.9 18,14M14,14V20H16V14H14Z" />
          </svg>
        </button>
        <button class="quick-forward">
          <svg viewBox="0 0 24 24">
              <path fill="currentColor" d="M10,12V22H8V14H6V12H10M18,14V20C18,21.11 17.11,22 16,22H14A2,2 0 0,1 12,20V14A2,2 0 0,1 14,12H16C17.11,12 18,12.9 18,14M14,14V20H16V14H14M11.5,3C14.15,3 16.55,4 18.4,5.6L21,3V10H14L16.62,7.38C15.23,6.22 13.46,5.5 11.5,5.5C7.96,5.5 4.95,7.81 3.9,11L1.53,10.22C2.92,6.03 6.85,3 11.5,3Z" />
          </svg>
        </button>
        <button icon-only ion-button clear (click)="play()" *ngIf="!isPlaying"><ion-icon name="play"></ion-icon></button>
        <button icon-only ion-button clear (click)="pause()" *ngIf="isPlaying"><ion-icon name="pause"></ion-icon></button>
        <button icon-only ion-button clear (click)="nextEpisode()" [disabled]="isLastItem()"><ion-icon name="skip-forward"></ion-icon></button>
      </div>
    </div>
  </div>
</ion-content>
